<section class="slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="slider-info">
                    <img src="/images/banner.jpg" class="img-responsive" alt="">

                </div>
            </li>
            <li>
                <div class="slider-info">
                    <img src="/images/banner1.jpg" class="img-responsive" alt="">

                </div>
            </li>
            <li>
                <div class="slider-info">
                    <img src="/images/banner2.jpg" class="img-responsive" alt="">

                </div>
            </li>
            <li>
                <div class="slider-info">
                    <img src="/images/banner3.jpg" class="img-responsive" alt="">

                </div>
            </li>
            <li>
                <div class="slider-info">
                    <img src="images/banner4.jpg" class="img-responsive" alt="">

                </div>
            </li>
        </ul>
    </div>
</section>

<div class="services-section" id="services" ng-app="mainApp" ng-controller="indexCtrl">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-4 col-md-5 col-sm-12">
                @*<input type="text" class="form-control" ng-model="searchText" placeholder="Enter search location..." typeahead="Locations as Locations.display for Locations in getLocation($viewValue)" typeahead-loading="loadingLlocations" />*@
                <angucomplete id="results"
                              placeholder="Search..."
                              pause="200"
                              selectedobject="SearchText"
                              url="/api/Cities?text="
                              titlefield="display"
                              minlength="1"
                              descriptionfield="state"
                              inputclass="form-control" />   
            </div>
            <div class="col-lg-1 row" style="margin-top: 0.5%">
                <input type="button" ng-click="Search(SearchText)" class="button hvr-shutter-in-vertical pull-left" value="Search" />
            </div>
        </div>
    </div>
    <br />
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container">
            <h3>our <span>services</span></h3>
            <div class="services-grids">
                <div class="col-md-6 service-leftgrid">
                    <div class="service1">
                        <div class="left-grid1">
                            <h4>01</h4>
                        </div>
                        <div class="left-grid2">
                            <h4>Regal and Baquacil Chemicals </h4>
                            <p>How wonderful it is that nobody need wait a singlemoment before starting to improve the world.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service2">
                        <div class="left-grid1">
                            <h4>02</h4>
                        </div>
                        <div class="left-grid2">
                            <h4>Repairs and Equipment Upgrades</h4>
                            <p>How wonderful it is that nobody need wait a singlemoment before starting to improve the world.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service1">
                        <div class="left-grid1">
                            <h4>03</h4>
                        </div>
                        <div class="left-grid2">
                            <h4>Complete Service & Parts Department </h4>
                            <p>How wonderful it is that nobody need wait a singlemoment before starting to improve the world.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-6 service-rightgrid">
                    <div class="service1">
                        <div class="left-grid1">
                            <h4>04</h4>
                        </div>
                        <div class="left-grid2">
                            <h4>Decking - concrete & Kool Deck </h4>
                            <p>How wonderful it is that nobody need wait a singlemoment before starting to improve the world.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service2">
                        <div class="left-grid1">
                            <h4>05</h4>
                        </div>
                        <div class="left-grid2">
                            <h4>Professional pool cleaning service </h4>
                            <p>How wonderful it is that nobody need wait a singlemoment before starting to improve the world.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="service1">
                        <div class="left-grid1">
                            <h4>06</h4>
                        </div>
                        <div class="left-grid2">
                            <h4>LOREM IPSUM DOLOR SIT AMET </h4>
                            <p>How wonderful it is that nobody need wait a singlemoment before starting to improve the world.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="~/Scripts/angular/mainApp.js"></script>
<script src="~/Scripts/angular/controllers/indexCtrl.js"></script>
<script src="~/Scripts/angular/services/getcities.js"></script>
<script src="~/Scripts/angular/Request.js"></script>
<script src="~/Scripts/angucomplete.js"></script>