
@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" ng-app="mainApp" ng-controller="supplierCtrl">
    <div class="row">
        <div class="col-lg-12">
            <div class="row about-section" style="padding: 1em">
                <div class="col-lg-3">
                    @*<input type="text" placeholder="Search for location..." class="form-control" />*@
                    <angucomplete id="results"
                                  placeholder="Search..."
                                  pause="200"
                                  selectedobject="SearchText"
                                  url="/api/Cities?text="
                                  titlefield="display"
                                  minlength="1"
                                  descriptionfield="state"
                                  inputclass="form-control" />
                </div>
                <div class="col-lg-1">
                    <button class="btn btn-primary btn-sm" style="padding-top: 0em; padding-bottom: 0em">Search</button>
                </div>

            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-8 col-md-8" style="margin-top: 2%">
                <div class="well" ng-repeat="items in Suppliers">
                    <a href="/Home/VenueInfo/{{items.VenueID}}"><strong style="font-size: large">{{items.Name}}</strong></a>
                    <button class="pull-right btn btn-custom-small btn-1c btn1 btn-1d" type="button" ng-click="Inquiry(items.VenueID)">Inquiry</button>
                    <br />
                    <p>{{items.Description}}</p>
                    <span class="text-muted">Location: {{items.Address.Address1}} {{items.Address.Area.AreaName}}, {{items.Address.Area.City.CityName}} </span>
                    <br />
                </div>
            </div>

            <div class="col-lg-4 col-md-4" style="margin-top: 2%">
                <div id="contact-page clearfix" class="">
                    <div class="status alert alert-success" style="display: none"></div>
                    <div class="message_heading">
                        <h4>Apply a filter</h4>
                        <p>Apply a custom filter according to your budget and requirements.</p>
                    </div>

                    <form id="main-contact-form" class="contact-form" name="contact-form" method="post" role="form">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Number of guests *</label>
                                <input type="text" class="form-control" ng-model="Filter.Capacity" required="required">
                            </div>
                            <div class="form-group">
                                <label>Budget per person</label>
                                <input type="text" ng-model="Filter.Budget" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="checkbox" value="1" ng-model="Filter.FacilityType1" ng-change="selectFacility(1, Filter.FacilityType1)" />AC
                                <input type="checkbox" value="3" ng-model="Filter.FacilityType2" ng-change="selectFacility(3, Filter.FacilityType2)" />Bar
                                <input type="checkbox" value="4" ng-model="Filter.FacilityType3" ng-change="selectFacility(4, Filter.FacilityType3)" />5 Star
                                <input type="checkbox" value="5" ng-model="Filter.FacilityType4" ng-change="selectFacility(5, Filter.FacilityType4)" />3 Star
                                <div>
                                    <button type="button" class="button hvr-shutter-in-vertical pull-left" ng-click="ApplyFilter(Filter)">Apply</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/angular/mainApp.js"></script>
<script src="~/Scripts/angucomplete.js"></script>
<script src="~/Scripts/angular/controllers/supplierCtrl.js"></script>
<script src="~/Scripts/angular/Request.js"></script>
<script src="~/Scripts/angular/services/supplierService.js"></script>