
@*@{
    ViewBag.Title = "Vanues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-8 col-md-8">
                Sort by 
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-xs">Rating</button>
                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Rating</a></li>
                        <li><a href="#">Price</a></li>
                    </ul>
                </div>
                <div class="col-sm-12">
                    <div class="well animated-item-1" style="margin-top: 1%">
                        <a href="#"><span style="color: black; font-size: x-large">Hotel paramount</span></a>
                        <p class="text-muted">402, Navi Mumbai, Maharashtra</p>
                        <div class="entry-meta small muted">
                            <span>Rating 4/5 </span> Facilities: AC, Bar, Loan
                        </div>
                    </div>
                    <div class="well animated-item-1" style="margin-top: 1%">
                        <a href="#"><span style="color: black; font-size: x-large">Hotel paramount</span></a>
                        <p class="text-muted">402, Navi Mumbai, Maharashtra</p>
                        <div class="entry-meta small muted">
                            <span>Rating 4/5 </span> Facilities: AC, Bar, Loan
                        </div>
                    </div>
                    <div class="well animated-item-1" style="margin-top: 1%">
                        <a href="#"><span style="color: black; font-size: x-large">Hotel paramount</span></a>
                        <p class="text-muted">402, Navi Mumbai, Maharashtra</p>
                        <div class="entry-meta small muted">
                            <span>Rating 4/5 </span> Facilities: AC, Bar, Loan
                        </div>
                    </div>
                    <div class="well animated-item-1" style="margin-top: 1%">
                        <a href="#"><span style="color: black; font-size: x-large">Hotel paramount</span></a>
                        <p class="text-muted">402, Navi Mumbai, Maharashtra</p>
                        <div class="entry-meta small muted">
                            <span>Rating 4/5 </span> Facilities: AC, Bar, Loan
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-4">
                <div id="contact-page clearfix">
                    <div class="status alert alert-success" style="display: none"></div>
                    <div class="message_heading">
                        <h4>Apply a filter</h4>
                        <p>Apply a custom filter according to your budget and requirements.</p>
                    </div>

                    <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Number of guests *</label>
                                <input type="text" class="form-control" required="required">
                            </div>
                            <div class="form-group">
                                <label>Vanue type *</label>
                                <select class="form-control">
                                    <option>Hotel</option>
                                    <option>Hall</option>
                                    <option>Disc</option>
                                    <option>Marriage hall</option>
                                    <option>Rastaurant</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Budget per person</label>
                                <input type="url" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group row">
                                <input type="checkbox" />AC
                                <input type="checkbox" />Bar
                                <input type="checkbox" />5 Star
                                <input type="checkbox" />3 Star
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg" required="required">Apply</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>