@{
    ViewBag.Title = "Venues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="single" ng-app="mainApp" ng-controller="venueInfoCtrl">
    <div class="container">
        <h2>{{VenueInfo.Name}}</h2>
        <div class="single-section">
            <div class="single-pic">
                <img src="/images/pic5.jpg" alt="">
            </div>
            <div class="col-lg-12 row">
                <div class="col-lg-6 row">
                    <p>
                        {{VenueInfo.Description}}
                    </p>
                    <h3>Complete Address</h3>
                    <p>
                        {{VenueInfo.Address.Address1}}, {{VenueInfo.Address.Area.AreaName}}, {{VenueInfo.Address.Area.City.CityName}}, {{VenueInfo.Address.Area.City.State.StateName}}
                    </p>
                </div>
                <div class="col-lg-6 row pull-right">
                        <div class="price-table-grids" style="width: 65%; float: right">
                            <div class="price-table-grid price-table-grid2" style="width: 100%">
                                <div class="price-table-grid-head price-table-grid-head2">
                                    <h2>Facilities</h2>
                                </div>
                                <div class="price-table-grid-info" style="margin-top: 4%">
                                    <ul>
                                        <li>
                                            <div class="form-group">
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" />
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="clear"> </div>
                        </div>
                </div>
                <h3>Facilities</h3>
                <div class="col-lg-12">
                    <p>
                        <ul>
                            <li ng-repeat="facility in Facilities">{{facility.FacilityName}}</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="gallery-grids">
                    <div class="col-md-12 gallery-grid11">
                        <div class="gallery1-grid">
                            <div class="gallery-grid02">
                                <a href="/images/img4.jpg" class="swipebox"><img src="/images/img4.jpg"></a>
                            </div>
                            <div class="gallery-grid02">
                                <a href="/images/img7.jpg" class="swipebox"><img src="/images/img7.jpg"></a>
                            </div>
                            <div class="gallery-grid02">
                                <a href="/images/img4.jpg" class="swipebox"><img src="/images/img4.jpg"></a>
                            </div>
                            <div class="gallery-grid02">
                                <a href="/images/img7.jpg" class="swipebox"><img src="/images/img7.jpg"></a>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="content-form">
                    <h3>Leave a comment</h3>
                    <form ng-submit="Save(Review)">
                        <div class="row col-lg-12">
                            <div class="row col-lg-4"><input type="text"  placeholder="First Name" style="width: 95%" ng-model="Review.FirstName"/></div>
                            <div class="row col-lg-4"><input type="text" placeholder="Last Name" style="width: 95%" ng-model="Review.LastName"/></div>
                        </div>
                        <div class=" row col-lg-12">
                            <input type="text" placeholder="Email" style="width: 58.5%" ng-model="Review.Email" />
                        </div>
                        <div class="row col-lg-12">
                            <input type="text" placeholder="Contact Number" style="width: 58.5%" ng-model="Review.Contact" />
                        </div>
                        <div class="row col-lg-12">
                            <textarea placeholder="Message" style="width: 58.5%" ng-model="Review.ReviewText"></textarea>
                        </div>
                        <input type="submit" value="SEND">
                    </form>
                </div>
                <div class="comments">
                    <h3>Reviews</h3>
                    <div class="alert alert-dismissable" ng-show="VenueReviews.length < 1">
                        <p>There are no reviews yet for the venue.</p>
                    </div>
                    <div class="comment-info" ng-repeat="review in VenueReviews | limitTo : 5">
                        <h4>{{review.Reviews.Customer.FirstName}} {{review.Reviews.Customer.LastName}}</h4>
                        <p>{{review.Reviews.ReviewText}}</p>
                        <h5>{{review.Reviews.Customer.CreatedAt | date: 'dd/MM/yyyy hh:mm:ss'}}</h5>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular/mainApp.js"></script>
<script src="~/Scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="~/Scripts/angular/controllers/venueInfoCtrl.js"></script>
<script src="~/Scripts/angular/services/getvenueinfo.js"></script>
<script src="~/Scripts/angular/services/getfacilities.js"></script>
<script src="~/Scripts/angular/Request.js"></script>
<script src="~/Scripts/angucomplete.js"></script>
<script src="~/Scripts/angular/services/reviewsService.js"></script>
<script src="~/Scripts/angular/services/venuereviewsService.js"></script>